.wrapper {
  position: relative;
  min-height: rem(700px);
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));
}

.supTitle {
  font-size: var(--mantine-font-size-sm);
  text-transform: uppercase;
  font-weight: 700;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  opacity: 0.8;
  margin-bottom: var(--mantine-spacing-sm);
}

.overlay {
  background-color: transparent;
  background-image: linear-gradient(
    45deg,
    light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8)) 25%,
    rgba(0, 0, 0, 0) 95%
  );
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-size: rem(44px);
  line-height: 1.2;
  font-weight: 900;
}

.highlight {
  color: light-dark(var(--mantine-color-cyan-6), var(--mantine-color-yellow-4));
}

.description {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-2));
  line-height: 1.5;
  max-width: rem(580px);
  margin-top: var(--mantine-spacing-md);
}

.body {
  flex: 0 0 rem(700px);
  padding-top: rem(140px);
  position: relative;
  z-index: 1;
}

.image {
  min-height: rem(700px);
  width: rem(800px);
  flex: 1;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;

  @mixin rtl {
    display: none;
  }

  @media (max-width: em(1230px)) {
    display: none;
  }
}

.controls {
  margin-top: var(--mantine-spacing-md);
}

.control {
  @media (max-width: em(600px)) {
    flex: 1;
  }
}

.controlMain {
  color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  background-color: light-dark(var(--mantine-color-cyan-6), var(--mantine-color-yellow-4));

  @mixin hover {
    background-color: light-dark(var(--mantine-color-cyan-6), var(--mantine-color-yellow-4));
  }
}

.controlSecondary {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-4));
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

  @mixin hover {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-4));
  }
}

.features {
  max-width: rem(740px);
  padding-bottom: var(--mantine-spacing-xl);

  @media (max-width: em(755px)) {
    margin-top: calc(var(--mantine-spacing-xl) * 2);
  }
}

.featureIcon {
  color: light-dark(var(--mantine-color-cyan-6), var(--mantine-color-yellow-4));
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-4));
}

.featureBody {
  margin-top: var(--mantine-spacing-md);
}

.featureTitle {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 500;
  line-height: 1;
  margin-bottom: rem(7px);
}

.featureDescription {
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-2));
  font-size: var(--mantine-font-size-xs);
  line-height: 1.5;
}
