.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 900;
  margin-bottom: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  font-size: rem(44px);
  color: var(--mantine-color-bright);
}
